<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="color: Cyan;">Form Test</title>
</head>
<body>
    <h1 style="color: rgb(23, 60, 152); font-style: italic; text-align: center;">Welcome!</h1>
    <h2 style="color: rgb(5, 67, 225); font-style: italic;">To Create an account, fill up the form</h2>
    <form class = "grid" action="/acc_created" method = "post">

        <label for="Name">Enter your Name: </label>
        <input type="text" name="name" id="name">
        <br><br>
        <label for="DOB">Enter your Date of Birth (DD-MM-YYYY)</label>
        <input type="text" id="DOB" name="Date_of_Birth">
        <center><input type="submit" class = "file_submit" value="Create"></center>

    </form>
</body>
</html>