<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="color: Cyan;">Form Test</title>
</head>
<body>
    <h1 style="color: rgb(23, 60, 152); font-style: italic; text-align: center;">Welcome!</h1>
    <h2><a href="/create">Create an Account</a></h2>
    <br>
    <h2><a href="/login">Login into your account</a></h2>

    </form>
</body>
</html>